<?xml version="1.0"?>
<model>
  <name>Bridge</name>
  <version>1.0</version>
  <sdf version="1.5">bridge.sdf</sdf>

  <author>
    <name>YHu Haowen</name>
    <school>Sun Yat-sen Uni.</school>
    <email>your.email@example.com</email>
  </author>

  <description>
    A simple bridge model for Gazebo simulation.
  </description>
</model>